body {
    font-family: Arial, sans-serif;
    background-color: #3bddd5;
}
    

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #8d63ff; 
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c0f826;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #45bafd;
    color: #2604ec;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: hsl(73, 100%, 63%);
    color: #000000;
}

