body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #3bddd5;
    color: #000000;
    text-align: center;
    padding: 20px 0;
}

section {
    padding: 20px;
}

h1, h2, h3 {
    color: #8d63ff;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],´{
    padding: 20px 0;
    width: 70%;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #6f1ef0;
    border-radius: 5px;
    width: 70%;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
}

button[type="submit"]:hover {
    background-color: hsl(73, 100%, 63%);
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
